.footer {
  background-color: var(--carbon-black);
  color: var(--floral-white);
  padding: 2rem 0;
  text-align: center;
}

.footer p {
  margin: 0.5rem 0;
}

.business-info {
  margin-bottom: 1.5rem;
  line-height: 1;
  text-align: left;
}

.business-info p {
  margin: 0.25rem 0 0 0;
  font-size: 0.9rem;
}

.credits {
  font-size: 0.9rem;
  color: var(--dust-grey);
  margin-top: 0.5rem;
}
